.form_container {
    display: flex;
    align-items: center;
    margin-top: 15rem;
}


button {
    font: inherit;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border: 1px solid #40005d;
    background-color:#184de0 ;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    margin-left: 0.75rem;
}